/* Resetowanie domyślnych stylów przeglądarki (opcjonalne, ale często stosowane) */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}
a
{
    color: blue;
    text-decoration: none;
    font-weight: bold;
}

/* Stylowanie nawigacji */
nav {
    background-color: #333;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

/* Stylowanie tabeli */
table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

/* Stylowanie formularza */
form {
    max-width: 400px;
    margin: 20px auto;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #333;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}
#menu {
    background-color: #333;
    padding: 10px 0;
}

#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#menu li {
    display: inline;
    margin-right: 20px;
}

#menu a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

#menu a:hover {
    border-bottom: 2px solid white;
}
