<!DOCTYPE html>
<html>
<head xmlns:th="http://www.thymeleaf.org">
  <meta charset="UTF-8">
  <link rel="stylesheet"  href="/style.css">


  <title>Edit Foodtruck</title>
</head>
<body>
<header th:insert="menu.html :: header"> </header>

<div>
  <h2>Edit Foodtruck</h2>
  <br />
  <form action="#" th:action="@{/save_foodtruck}" th:object="${foodtruck}" method="post">
    <table>
      <tr>
        <td>Foodtruck ID:</td>
        <td><input type="text" th:field="*{id_foodtruck}" readonly="readonly" /></td>
      </tr>
      <tr>
        <td>City</td>
        <td><input type="text" th:field="*{city}" /></td>
      </tr>
      <tr>
        <td>Name</td>
        <td><input type="text" th:field="*{name}" /></td>
      </tr>
      <tr>
        <td>Postal Code</td>
        <td><input type="text" th:field="*{postal_code}" /></td>
      </tr>
      <tr>
        <td>Supervisor ID</td>
        <td><input type="text" th:field="*{id_supervisor}" /></td>
      </tr>
    </table>
    <button type="submit">Save</button>
  </form>
</div>
</body>
</html>