<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="/style.css">


    <title>Foodtruck's Burger List</title>
</head>
<body>
<header th:insert="menu.html :: header"> </header>

<div>
    <h2>Foodtruck's Burger List</h2>
    <div th:if="${#authentication.principal.username == 'bartekkierownik'}">
    <a href="new_foodtruckburger">Create New Foodtruck's Burger</a>
    </div>
    <br/><br/>
    <table>
        <thead>
        <tr>

            <th>ID Foodtruck</th>
            <th>ID Burger</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="foodtruckburger : ${lftb}">
            <td th:text="${foodtruckburger.id_foodtruck}">Foodtruck ID</td>

            <td th:text="${foodtruckburger.id_burger}">burger ID</td>
            <div th:if="${#authentication.principal.username == 'bartekkierownik'}">
            <td>
                <a th:href="@{'/edit_foodtruckburger/' + ${foodtruckburger.id}}">Edit</a>

                <a th:href="@{'/delete_foodtruckburger/' + ${foodtruckburger.id}}">Delete</a>
            </td>
            </div>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>