<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="/style.css">


    <title>Sides List</title>
</head>
<body>
<header th:insert="menu.html :: header"> </header>

<div>
    <h2>Sides List</h2>
    <div th:if="${#authentication.principal.username == 'bartekkierownik'}">
    <a href="new_sides">Create New Sides</a>
    </div>
    <br/><br/>
    <table>
        <thead>
        <tr>
            <th>Sides Id</th>
            <th>Description</th>
            <th>Price</th>
            <th>Photo</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="sides : ${ls}">
            <td th:text="${sides.id_sides}">Sides ID</td>
            <td th:text="${sides.description}">Description</td>
            <td th:text="${sides.price}">Price</td>
            <td><img th:src="@{${sides.photo}}" alt="Sides Photo"/>Photo</td>
            <div th:if="${#authentication.principal.username == 'bartekkierownik'}">
            <td>
                <a th:href="@{'/edit_sides/' + ${sides.id_sides}}">Edit</a>
                &nbsp;&nbsp;&nbsp;
                <a th:href="@{'/delete_sides/' + ${sides.id_sides}}">Delete</a>
            </td>
            </div>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>